{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        ["@nutanix-ui/babel-plugin-prism-import", {
            "libraryName": "@nutanix-ui/prism-reactjs",
            "style": "css"
        }]
    ]
  }