@ntnx:registry=https://registry.npmjs.org
//registry.npmjs.org/:_authToken=${NPM_TOKEN}

@nutanix-ui:registry=https://artifactory.dyn.ntnxdpro.com/artifactory/api/npm/canaveral-npm/
//artifactory.dyn.ntnxdpro.com/artifactory/api/npm/canaveral-npm/:_password=${PASSWORD}
//artifactory.dyn.ntnxdpro.com/artifactory/api/npm/canaveral-npm/:username=${EMAIL}
//artifactory.dyn.ntnxdpro.com/artifactory/api/npm/canaveral-npm/:email=${EMAIL}
//artifactory.dyn.ntnxdpro.com/artifactory/api/npm/canaveral-npm/:always-auth=true

registry=https://artifactory.dyn.ntnxdpro.com/artifactory/api/npm/canaveral-npm/
//artifactory.dyn.ntnxdpro.com/artifactory/api/npm/canaveral-npm/:ca[]=${ROOT_CERT}
//artifactory.dyn.ntnxdpro.com/artifactory/api/npm/canaveral-npm/:ca[]=${INTERMEDIATE_CERT}
_auth=${AUTH}
always-auth=true
email=${EMAIL}
ca[]=${ROOT_CERT}
ca[]=${INTERMEDIATE_CERT}
